.campuses-all-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.campuses-single-container {
  display: flex;
  border: 3px solid rgb(97, 97, 97);
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  width: 300px;
  box-sizing: border-box;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: #232324c5;
  border-radius: 70px;
}

.campuses-single-image {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border: 3px solid rgb(97, 97, 97);
  border-radius: 100px;
}

.campuses-edit-button,
.campuses-delete-button {
  color: #ffffff;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 800;
  padding: 0.75rem 0.875rem;
  line-height: 1rem;
  min-height: 2.5rem;
  border-radius: 6px;
  font-size: 15px;
  text-align: center;
  width: 80px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.campuses-edit-button {
  background: #00a2ff;
  border: 1px solid #00a2ff;
  margin-right: 10px;
}
.campuses-delete-button {
  background: #ff4742;
  border: 1px solid #ff4742;
  margin-left: 10px;
}

.campuses-edit-button:hover,
.campuses-delete-button:hover {
  border: 1px solid #0c0c0c;
  color: #ffffff;
  font-weight: 900;
  font-size: 17px;
  text-align: center;
}

.campuses-add-button {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 50px;
  background: #00bd68;
  border: 1px solid #00bd68;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: "nunito", roboto, "proxima-nova", "proxima nova", "sans-serif";
  font-size: 25px;
  font-weight: 800;
  line-height: 16px;
  min-height: 75px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

.campuses-edit-button:hover {
  background: #0066ff;
  border: 1px solid #0c0c0c;
  color: #ffffff;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
}

.campuses-delete-button:hover {
  background: #ff0000;
  border: 1px solid #0c0c0c;
  color: #ffffff;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
}

.campuses-add-button:hover {
  border: 1px solid #0c0c0c98;
  color: #ffffff;
  font-weight: 900;
  color: #fffdfc;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
  background: #04d804;
}

.empty-campuses {
  font-size: 20px;
  margin-left: 30px;
  font-weight: 900;
}

.campusesHeader {
  color: rgb(255, 252, 252);
  width: 90%;
  max-width: 450px;
  height: auto;
  background-color: rgba(44, 42, 42, 0.7);
  text-align: center;
  color: #fff;
  font-size: 60px;
  border-radius: 15px;
}

.campusesHeader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 100px;
  overflow: auto;
  margin-left: 50px;
}

.campuses-name {
  font-size: 30px;
  margin-top: -10px;
  transition: background-color 0.3s;
}

.campuses-students-count {
  font-size: 15px;
  color: #fbff00;
  margin-top: -15px;
}

.campuses-link-hover {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.campuses-link-hover:hover {
  color: #00ff0d;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
}
