.homeHeading {
  color: rgb(236, 230, 230);
  background-image: url("https://www.usnews.com/cmsmedia/a1/7c/61548aea4db9ab9045673bb5187f/160919-studentscollege-stock.jpg");
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homeHeading::after {
  content: "Welcome to Campus & Student Finder";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  height: auto;
  background-color: rgba(44, 42, 42, 0.7);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  font-size: 90px;
  border-radius: 70px;
}

.nav-container {
  background-color: #252525;
  padding: 20px;
  height: 20px;
  opacity: 0.9;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item-left,
.nav-item-right {
  position: relative;
}

.nav-item-left::after,
.nav-item-right::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-item-left:hover::after,
.nav-item-right:hover::after {
  opacity: 1;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  padding: 10px;
}

.nav-links a:hover {
  color: #ffffff;
  font-weight: 900;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.nav-item-left {
  margin-right: auto;
}

.nav-item-right {
  margin-left: 10px;
}
