.single-student-heading {
  background-image: url("https://cdn10.bigcommerce.com/s-9qugz4w/products/12372/images/13198/992-68331__29432.1419810853.1280.1280.jpg?c=2");
  font-weight: bold;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-y: scroll;
}

.single-student-all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  box-sizing: border-box;
}

.single-student-single-container {
  border: 3px solid;
  width: 800px;
  height: 350px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 10px;
  background-color: #232324c5;
  border-radius: 40px;
}

.single-student-header {
  color: rgb(255, 252, 252);
  width: 90%;
  max-width: 400px;
  height: auto;
  background-color: rgba(44, 42, 42, 0.7);
  text-align: center;
  color: #fff;
  font-size: 60px;
  border-radius: 20px;
}

.single-student-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 100px;
  overflow: auto;
  margin-left: 50px;
}

.single-student-student-image {
  width: 350px;
  height: 270px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
  border: 5px solid rgb(97, 97, 97);
  text-align: center;
  border-radius: 40px;
}

.single-student-student-name {
  color: #eeff00;
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
  white-space: nowrap;
  font-weight: 900;
}

.single-student-email-address,
.single-student-student-gpa {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}
.single-student-campus-all-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.single-student-campus-container {
  display: flex;
  border: 3px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  width: 300px;
  box-sizing: border-box;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: #232324c5;
  border-radius: 70px;
}

.single-student-campus-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: auto;
  margin-left: 50px;
}

.single-student-campus-header {
  color: rgb(255, 252, 252);
  width: 90%;
  max-width: 200px;
  height: auto;
  background-color: rgba(44, 42, 42, 0.7);
  text-align: center;
  color: #fff;
  font-size: 40px;
  border-radius: 15px;
}

.single-student-campus-image {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border: 3px solid rgb(97, 97, 97);
  border-radius: 70px;
}

.single-student-campus-name {
  font-size: 30px;
  transition: color 0.3s;
}

.single-student-campus-address {
  font-size: 15px;
  padding: 10px;
  margin-top: -20px;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  color: #fbff00;
}
.single-student-campus-link-hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s;
}

.single-student-campus-link-hover:hover {
  color: #00ff0d;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
}

.single-student-edit-button,
.single-student-delete-button {
  color: #ffffff;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 800;
  padding: 0.75rem 0.875rem;
  line-height: 1rem;
  min-height: 2.5rem;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 70px;
  transition: background-color 0.3s;
}

.single-student-edit-button {
  background: #00a2ff;
  border: 1px solid #00a2ff;
  margin-right: 60px;
}
.single-student-delete-button {
  background: #ff4742;
  border: 1px solid #ff4742;
  margin-right: 20px;
}

.single-student-edit-button:hover {
  background: #0066ff;
  border: 1px solid #0c0c0c;
  color: #ffffff;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
  font-size: 17px;
  text-align: center;
}

.single-student-delete-button:hover {
  background: #ff0000;
  border: 1px solid #0c0c0c;
  color: #ffffff;
  font-weight: 900;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 4px 8px;
  font-size: 17px;
  text-align: center;
}
